  <div class="jumbocover row">
	<div class="jumbotron jumbohome">
	  <div class="container-fluid">
		<div class="wrapper">
			Search for some hipster albums<br>
			<small class="subheading">And then eat some kale, hippie</small>
		</div>	    
	  </div>
	</div>
</div>