// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artistimage{
	width: 250px;
	height: 250px;
}

.singleAlbum{
	margin-bottom: 2%;
}
.artistName{
	margin-bottom: 1%;
}
.trackIndex{
  margin-top: 2%;
  margin-left: 5%;
}
.trackProgress{
	margin-top: 2%;
}
.searchRow{
	margin-bottom: 2%;
}
.playButton{
	margin-top: 2%;
}
.tracksrow{
	margin-top: 2%;
	margin-bottom: 20px;
	margin-left: 3%;
	margin-right: 3%;
}

.icon-play-circle{
	font-size: 24;
}
.jumbohome{
	height: 100vh;
    width: 100%;
    background-image: asset-url("jumboimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; 
}
.jumbocover{
	height: 100vh;
	background-position: center;
	// background-size: 100% 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
}
.wrapper{
	position: absolute;
	top: 40vh;
	left: 35vh;
	color: white;
	font-size: 4em;
}
.subheading{
	top: 50vh;
	left: 40vh;
	font-size: 4vh;
	color: white;

}
