// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artistimage{
	width: 250px;
	height: 250px;
}

.singleAlbum{
	margin-bottom: 2%;
}
.artistName{
	margin-bottom: 1%;
}
.trackIndex{
  margin-top: 2%;
  margin-left: 5%;
}
.trackProgress{
	margin-top: 2%;
}
.searchRow{
	margin-bottom: 2%;
}
.playButton{
	margin-top: 2%;
}
.tracksrow{
	margin-top: 2%;
	margin-bottom: 20px;
	margin-left: 3%;
	margin-right: 3%;
}

.icon-play-circle{
	font-size: 24;
}

